
body {
font-family: 'Times New Roman';
background-color: #f2f2f2; }

h1 {
color: blue;
font-weight: bold;
text-align: left;
}


p {
font-size: 14px;
text-align: justify; 
color: red;
}


img {
border: 2px solid red;
display: block;
margin-bottom: 10px;
}